@mixin flex($justfy,$align,$gap){
    display: flex;
    justify-content: $justfy;
    align-items: $align;
    gap: $gap;
}

@mixin grid{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 3rem;
}
@mixin grid-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
   }

@mixin button ($bgcolor,$color,$size){
    padding: 1rem;
    background-color: $bgcolor;
    color: $color;
    border: none;
    border-radius: .6rem;
    font-size: $size;
    cursor: pointer;
}
