@mixin flex($justfy,$align,$gap){
    display: flex;
    justify-content: $justfy;
    align-items: $align;
    gap: $gap;
}

@mixin button ($bgcolor,$color,$size){
    padding: 1rem;
    background-color: $bgcolor;
    color: $color;
    border: none;
    border-radius: .6rem;
    font-size: $size;
    cursor: pointer;
}
