.dashboard-container{

  display: grid;
//   grid-template-columns: 260px 1fr 1fr 1fr;
//   grid-template-rows: 0.2fr 3fr;
//   grid-template-areas: 'sidebar header header header'
//                     'sidebar main main main';
    height: 100vh;
}
// header

.header{
grid-area: header;
height: 6rem;
@include flex(space-between,center,0);
padding: 0 3rem 0 3rem;
box-shadow: 0 .6rem .7rem -.3rem rgba(0, 0, 0, 0.034);

.header-right{
   
   @include flex(center,center,3rem);

   .icon{
    font-size: 2.5rem;
   color: #ffffff; 
   cursor: pointer;
   }
   span{
    @include flex(center,center,1rem);
    font-size: 1.5rem;
    font-weight: 700;
   }
   img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
   }

}
.header-left{
    .icon{
        font-size: 2.5rem;
       color: #3e6af0; 
       }
}
}
.menu-icon{
    display: none;
    .icon{
        font-size: 2.6rem;
    }
  
}
// end header

// sidebar
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #ffff;
    overflow-y: auto;
    color: #1e294b;
    transition: all .5s;
    -webkit-transition: all .5s;
    position: relative;
    .side-btn{
     
        position: absolute;
        width: 100%;
        bottom: 0;
        @include flex(center,center,0rem);

        .btn{
            font-size: 1.7rem;
            background-color: #3e6af0;
            color: white;
            width: 100%;
            border-radius: 0;
            &:hover{
                background-color: #3e6af0dc
            }
        }
        
    }
}
.sidebar-title{
    @include flex(space-between,center,0);
    padding: 1.5rem 3rem 0 3rem;
    margin-bottom: 3rem;

   span{
    display: none;
   }

}

.sidebar-brand{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 700;

    b{
        color: #000000;
        @include flex(center,center,1rem);
        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
.sidebar-list{
    padding: 0;

    list-style: none;
    .side-list-items{
        padding: 2rem;
        font-size: 1.8rem;
        

        &:hover{
            background-color: rgba(7, 6, 6, 0.356);
            cursor: pointer;
        }
        .item{
            text-decoration: none;
            color: #020202ee;
            display: flex;
        gap: 3rem;
        .icon{
            font-size: 2rem;
        }
        }
        &:first-child{
            background-color: rgba(10, 10, 10, 0.356);
        }

        .dropdowns{
          
          list-style: none;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .items{
                line-height: 3rem;
              color: #8a8787;
                text-decoration: none;
                letter-spacing: .1rem;
                font-weight: 500;

            }
        }
    }
}
.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

// end sidebar

// main

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 2rem;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(255, 255, 255, 0.596);
// display: flex;
// justify-content: space-between;
.stati{
    display: flex;
    justify-content: space-around;
    h2{
        color: black;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.3rem;
    }
}

.main-title{
    h3{
        font-size: 3rem; 
        color: #1e294b;
       }
}
    .main-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
padding: 3rem;
        .card{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: .8rem 1.5rem;
            border-radius: .5rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            h4{
                padding-bottom: 3rem;
                text-align: center;
                
            }
            &:first-child{
                background-color: rgb(0, 140, 255);
            }
            &:nth-child(2){
                background-color: orange;
            }
            &:nth-child(3){
                background-color: rgb(0, 87, 128);
            }
            &:nth-child(4){
                background-color: rgb(207, 74, 174);
            }

            .card-inner{
                @include flex(space-between,center,2rem);
                padding:  1.5rem;
           
            }
            .icon{
                font-size: 2.6rem;
                text-align: center;
            }


        }
        @media screen and (max-width:1174px) {
            .card{
                font-size: 1.3rem;
            }
        }
        @media screen and (max-width:1070px) {
            .card{
                font-size: 1rem;
            }
        }
    }
    .charts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 6rem;
        height: 300px;
        justify-content: center;

        padding-bottom: 6rem;
    }
}
@media screen and (max-width:992px) {
   .main-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'header','main';
   
  
   .main-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
   }
   }
   
   .header{
    width: 100%;
   
}
 

   .sidebar-title{
    span{
        display: inline;
        background-color: green ;
    }

   }
}
@media screen and (max-width:886px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 'header','main';
       
      
       .main-card{
      display: grid;
      grid-template-columns: repeat(2,1fr);
       }
       }
 
}
@media screen and (max-width:700px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 'header','main';
       
      
       .main-card{
      display: grid;
      grid-template-columns: repeat(1,1fr);
       }
       }
  
}
// end main

//tables
.open{
    display: block;
}

.job-container,.program-container,.post-container{
    display: none;
}
.table-container{
    padding: 0 3rem 3rem;
    h1{
        color: black;
        font-size: 2.6rem;
        padding: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    h2{
        color: black;
        font-size: 1.9rem;
        padding: 1.5rem;
        text-transform: uppercase;
    }
}
.tables{
  
@include flex(center,center,0);
    table{
        width: 100%;
        border-collapse: collapse;
        background-color: rgb(0, 87, 128);

        .th{
            font-size: 7rem;
            padding: 1.4rem 0;
        }
        td{
            font-size: 1.7rem;
            padding: 1.4rem 1rem;
        }
        .opt{
            background-color: red;
            text-align: center;
            .del{
                width: 100%;
                background-color: red;
                border: none;
                color: #fff;
            }
        }
        .opts{
            background-color: rgb(0, 140, 255);
            text-align: center;
            .del{
                width: 100%;
                background-color: rgb(0, 140, 255);
                border: none;
                color: #fff;
            }
        }
    }
}

//end table


// blogs
.forms{
    background-color: rgb(168, 168, 168);
  
    border-radius: 2rem;
    .input{
        width: 100%;
    }
    .post-btn{
     
        @include flex(center,center,0);
        .btn{
            width: 70%;
            background-color: #3e6af0;
            color: #ffff;
            border: none;
            
        }
    }
}
.post-form{
    background-color: rgb(255, 255, 255);
    @include flex(center,center,0);
    flex-direction: column;
    padding: 3rem;
   
h2{
    font-size: 3rem;
    text-align: center;
}
  label{
    font-size: 1.6rem;
    padding-top: 1.5rem;
    font-weight: 700;
  }
  .form{
    padding: 2rem;
   
  }
}
//end blogs
