.forms{
    padding: 2rem;
    // @include flex(center,center,0);

    form{
        @include flex(center,center,2rem);
        flex-direction: column;
        padding: 2rem;

        .job-fild{
            @include flex(center,center,2rem);
            flex-direction: column;
            input{
               padding: .8rem 2rem;
               width: 100%;
            }
            select{
                padding: .8rem 4rem;
            }
        }
        .job{
            width: 100%;
            @include flex(center,center,2rem);
        }
        .job-btn{
            background-color: rgb(0, 119, 255);
        color: #fff;
        width: 100%;
        padding: .8rem;
        font-size: 1.7rem;
        }
    }
}