.nav-container{
    background-color: $light-bgcolor;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.24);
    position: sticky;
    width: 100%;
    z-index: 9999;
    top: 0;
    

    .navbar{
        @include flex(space-between,center,0);
        padding:1rem 4rem;
.logo{
    width: 60px;
    height: 60px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

}
        .navlinks{
            @include flex(space-between,center,3rem);
            font-size: 1.8rem;
            list-style: none;
            .link{
                text-decoration: none;
                color: $links-color;
                font-weight: 400;
                transition: all .3s;
                letter-spacing: .2rem;
                &:hover{
                    color: #F8AC3A;
                }
            }

            .btn{
                background-color: #1976d2;
                color: $light-bgcolor;
                font-size: 1.3rem;
                padding: 1rem 4rem;
            }
        }
        .searchs{
            padding: .8rem;
            
            
        }
        input{
            border: 1px solid black;
            position: relative;
        }
     
            .srch{
                font-size: 3rem;
                position: absolute;
                right: 4.5rem;
                top: 30%;
                
            }
            .openSearchs{
                position: absolute;
                display: flex;
              
                gap: 2rem;
                list-style: none;
                background-color: black;
                left: 0;
                top: 7.5rem;
                transition: all .3s ease-out;
              
                width: 100%;
                text-align: center;
             padding: 2rem;
            }
   
        @media(max-width:1170px) {
            .navlinks{
                @include flex(space-between,center,2rem);
            }
        }
        @media(max-width:1028px) {
            .navlinks{
                font-size: 1.5rem;
                @include flex(space-between,center,2rem);
            }
        }
        @media(max-width:950px) {
            .navlinks{
               display: none;

               .btn{
                background-color: #1976d2;
                color: $light-bgcolor;
                font-size: 1.3rem;
                padding: 1rem 4rem;
            }
            }
        
            
        }
        .menu{
            display: none;
        }
        @media(max-width:950px) {

           
            .log{
                display: flex;
                position: absolute;
                top: 15px;
                left:35px;
            }
            .openNav{
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                list-style: none;
                background-color: $light-bgcolor;
                left: 0;
                top: 7.5rem;
                transition: all .3s ease-out;
              
                width: 100%;
                text-align: center;
             padding: 2rem;
                
            
            }
            .link{
                color: #3A7AF8;
                display: block;
                text-align: center;
                padding: 2rem;
                width: 100%;
                transition: all .5s ease;
                font-size: 1.7rem;
                text-decoration: none;
                &:hover{
                    background-color: rgb(0, 195, 255);
                }
               
            }
            .btn{
                color: #ffffff;
                background-color: #3A7AF7;
                display: block;
                text-align: center;
                padding: 2rem;
                width: 100%;
                transition: all .5s ease;
                font-size: 1.7rem;
                text-decoration: none;
                &:hover{
                    background-color: rgb(0, 195, 255);
                }
            }
           

            .menu{
                font-size: 3rem;
                display: flex;
            }
          .search{
            display: none;
          }
        
         
        }
        @media (max-width:240px) {
            .logo{
                display: none;
              }
        }

        
        
    }
   
}
.drop{
  display: inline-block;
  position: relative;

  &:hover .dropdown{
    display: block;
  }
}
.dropdown{
    display: none;
    position: absolute;
    list-style: none;
    background-color: $light-bgcolor;
    box-shadow: 2px 2px 3px rgba(168, 134, 134, 0.212);
    padding: 2rem;
top: 100%;

    
    .drops{
        display: block;
      color: red;
        margin-top: 2rem;
        text-align: center;
    }
 

  }
.input{
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
    padding: 1rem;
  
    input{
        padding: .8rem;
        width: 100%;
      
     
        
        
    }
    label{
        font-size: 1.2rem;
        width: 30%;
    }
}
.butt{
 @include flex(center,center,1rem);
 flex-direction: column;
   
p{
    font-size: 1.4rem;
}
   
}
.head{
    text-align: center;
   
}