.sign-container{
    @include flex(center,center,3rem);
    height: 80vh;
.sign{
  
   width: 50%;
  
   

    .left{
        background-color: rgb(193, 193, 206);
     
        form{
            background-color: rgb(255, 255, 255);
            backdrop-filter: blur(19px);

            h1{
                @include flex(center,center,3rem);
                padding: 1rem;
                font-size: 2rem;
                background-color: rgb(119, 212, 235);
            }
        }
        .fild{
           
            @include flex(center,center,0rem);
            flex-direction: column;
            padding-bottom:2rem ;
            padding: 0 2rem;
            
            input{
                padding: .8rem;
                width: 100%;
                background: transparent;
                border: 2px solid rgba(165, 165, 165, 0.445);
                border-radius: .5rem;
                
                // border-bottom: 2px solid green;
             
            }
            label{
                padding: 1rem 0;
                font-size: 1.8rem;
                color: #050505;
            }
         
        }
        .sign-btn{
            @include flex(center,center,0rem);
            padding: 1rem;
            width: 100%;
        }
        .al{
            @include flex(center,center,0rem);
            padding: 1rem;
            font-size: 1.4rem;
        }
    }
    position: relative;
    h3{
        position: absolute;
        left: 47%;
        top: 45%;
        background-color: rgb(62, 125, 180);
        padding: 2rem;
        border-radius: 50%;
    }
    
}
@media screen and (max-width:1194px) {
    .sign{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
}
@media screen and (max-width:587px) {
    .sign{
       width: 100%;
    }
}
    
}
