.th{
   
    font-size: 2rem;
    font-weight: 700;
}
.td{
    font-weight: 200;
    font-size: 1.9rem;
}
.btn-up{
    background-color: rgb(73, 207, 73);
    font-size: 1.9rem;
  
    border-radius: .6rem;
    color: white;
    font-weight: 100;
    cursor: pointer;
}
.btn-del{
    background-color: rgb(219, 52, 52);
    font-size: 1.9rem;
    border-radius: .6rem;
    color: white;
    cursor: pointer;
    font-weight: 100;
}
.add{
    background-color: #2a5aeb;
    color: aliceblue;
    float: right;
 
}
.demo{
    display: none;
}
.login-container{
    padding: 2rem;
    .form{
    
        width: 100%;
        padding: 2rem 1rem;
        h1{
            text-align: center;
            padding: 0rem 1rem 2rem; 
            font-size: 2.9rem;
        }
    .fld{
        width: 100%;
        input{
            width: 100%;
        }
    }
       
    }
}
