.all{

 
    .all-h2{
        @include flex(center,center,0);
        font-size:2rem;
        padding-top: 4rem
    }
    .all-p{
        @include flex(center,center,0);
        font-size:1.8rem;
        padding-top: 1rem;
        color: rgba(0, 0, 0, 0.548);
    }
    .reports{
        @include flex(center,center,0);
        background-color:rgb(255, 255, 255);
        flex-direction: column;
        padding: 3rem 0;

        .annual{
       
            @include flex(center,center,0);
            flex-direction: column;
            padding: 2rem 1rem;

            h2{
                font-size: 1.9rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
                padding: 1rem 0;
                width: 70%;
                color:  #3d3d3d;
                letter-spacing: .1rem;
            }
            a{
                font-size: 1.4rem;
                text-decoration: none;
                color: #43709b;
                font-weight: 900;
            }
        }
        .prev{
            @include flex(center,center,0);
            flex-direction: column;
            padding: 2rem 1rem;
            h3{
                font-size: 1.9rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
                padding: 1rem 0;
                width: 70%;
                color:  #3d3d3d;
                letter-spacing: .1rem;
            }

            select{
                padding: .8rem 6rem;
            }

        }

        .stra{
            @include flex(center,center,0);
            flex-direction: column;
            padding: 2rem 1rem;
            h3{
                font-size: 1.9rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
                padding: 1rem 0;
                width: 70%;
                color:  #3d3d3d;
                letter-spacing: .1rem;
            }
            a{
                font-size: 1.4rem;
                text-decoration: none;
                color: #43709b;
                font-weight: 900;
            }
            

        }
        .privancy{
            @include flex(center,center,0);
            flex-direction: column;
            padding: 2rem 1rem;
            h3{
                font-size: 1.9rem;
                padding: 1rem 0;
            }
            p{
                font-size: 1.4rem;
                padding: 1rem 0;
                width: 70%;
                color:  #3d3d3d;
                letter-spacing: .1rem;
            }
        }
        .resource{
            @include flex(center,center,1rem);
            font-size: 1.9rem;
            flex-direction: column;
            h3{
                font-size: 1.9rem;
                padding: 1rem 0;
            }
            a{
                font-size: 1.4rem;
                text-decoration: none;
                color: #43709b;
                font-weight: 900;
            }
        
        }

    }
}

.our-container{
padding: 3rem;
}
@media screen and (max-width:303) {
    .our-container{
        padding: 0;
    }
}


.trm-image{
    width: 100px;
    height: 100px;
    .img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.term{
   
h3,p{
font-size: 2rem;
// text-align: center
margin:  auto 25px;
}
    // background-color: green;
    // width: 200px;
    // height: 300px;

   
}
.terms{
    @include grid;

padding: 5rem;

 
  .test{
  
   background-color: rgb(255, 255, 255);
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
//    @include grid;
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
width: 100%;
  }
  .yee{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
  }
  h2{
    // text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: 2rem;
  
  }
  @media screen and (max-width:400px) {
    .test,.yee{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto 25px;
    }
}

}
@media screen and (max-width:1133px) {
    .terms{

        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:767px) {
    .terms{
   
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
