.test{
    background-color: rgb(255, 255, 255);
    width: 400px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
    padding: 2rem;
  
    border-radius: 2rem;

    
    p{
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.726);
        letter-spacing: .1rem;
        
    }
    h1{
        color: #3A7AF8;
        padding: 2rem 0;
        letter-spacing: .1rem;
    }
}
@media screen and (max-width:891px) {
    .test{
        width: 100%;
    }
}
@media screen and (max-width:329px) {
    .test{
        width: 100%;
        @include flex(center,center,4rem);
        flex-direction: column;

        .test-image{
            width: 100%;
        }
    }
}
.test-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem 10rem;
    gap: 3rem;
    .test{
        width: 100%;
        display: flex;
        gap: 3rem;
        .test-image{
            width: 300px;
            height: 200px;
        
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .job-image{
            width: 300px;
            
        
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .test-text{
          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

           .job-btn{
            background-color: #3A7AF8;
            font-size: 1.6rem;
            color: #fff;
            padding: 1rem 4rem;
           }
        }
    }
    @media screen and (max-width:1200px) {
        .test{
  
            display: flex;
            flex-direction: column;
        }
        .test-image{
         width: 100%;
         
            img{
                width: 100%;
            }
        }
    }
    @media screen and (max-width:395px) {
        .test{
        
            display: flex;
            flex-direction: column;
        }
        .test-image{
         width: 60%;
         display: none;
         
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:904px) {
    .test-container{
   
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 3rem;
        gap: 3rem;
       
       
    }
    
   
}
@media screen and (max-width:464px) {
    .test-container{
   
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 3rem;
        gap: 3rem;
       
       
    }
    
   
}

.tes{
    padding: 2.8rem 1rem 0;
    text-align: center;
    h1{
        font-size: 4rem;
        padding-bottom: 1rem;
        color: rgb(63, 62, 62);
    }
    p{
        font-size: 1.8rem;
        letter-spacing: .1rem;
    }
}
.tes{
    padding: 2.8rem 1rem 0;
    text-align: center;
    h1{
        font-size: 3rem;
        padding-bottom: 1rem;
        color: rgb(63, 62, 62);
    }
    p{
        font-size: 1.6rem;
        letter-spacing: .1rem;
        line-height: 2.4rem;
    }
}
